@import "reset.scss";
@import "mixin.scss";

$triangle-height: 100px;

#intro {
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #fff;

	h1 {
		font-size: 70px;
		color: #000;
		font-weight: 400;

		@include mobile {
			font-size: 50px;
		}
	}
	#arrow {
		position: absolute;

		bottom: 0px;
		opacity: 0;
	}
	#arrow.animate {
		bottom: 40px;
		opacity: 1;
		animation: arrow 0.5s, blink 1s infinite;
	}

	@keyframes arrow {
		0% {
			bottom: 0px;
			opacity: 0;
		}
		100% {
			bottom: 40px;
			opacity: 1;
		}
	}

	@keyframes blink {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			opacity: 0;
		}
	}
}

.triangle {
	display: block;
}

.triangle.bottom {
	position: absolute;
}

#description {
	position: relative;
	display: flex;
	flex-direction: column;

	align-items: center;

	width: 100vw;
	height: 550vh;

	background-color: #000;
	outline: 0.5px solid #000;

	h1 {
		margin-top: 50vh;
		margin-bottom: 50vh;
		font-size: 60px;
		color: #fff;
		font-weight: 400;

		opacity: 0;

		@include tablet {
			font-size: 50px;
		}
		@include mobile {
			font-size: 30px;
		}
	}
}

.title {
	width: 100vw;
	height: 200vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1 {
		position: fixed;
		transform: translate(-50%, -50%);
		left: 50vw;

		opacity: 0;

		font-size: 90px;
		color: #000;
		font-weight: 800;
		-webkit-text-fill-color: transparent;
		-webkit-text-stroke: 1px #000;

		@include mobile {
			font-size: 60px;
		}
		@include tablet {
			font-size: 80px;
		}
	}
}

.project {
	display: flex;
	flex-direction: column;
	justify-content: center;

	width: 100vw;
	height: 100vh;

	text-shadow: 0px 0px 50px #00000064;
	opacity: 0;

	img {
		position: absolute;
		pointer-events: none;
		z-index: -1;

		width: 100vw;
		height: 100vh;
		object-fit: cover;

		filter: brightness(0.45);
	}
	img.fixed {
		position: fixed;
		top: 0;
		left: 0;
	}
	video {
		position: absolute;
		pointer-events: none;
		z-index: -1;

		width: 100vw;
		height: 100vh;
		object-fit: cover;

		border: none;
		outline: none;

		filter: brightness(0.45);
	}
	video.fixed {
		position: fixed;
		top: 0;
		left: 0;
	}

	h1 {
		font-size: 100px;
		color: #fff;
		font-weight: 500;

		margin-left: 5vw;

		@include mobile {
			font-size: 50px;
		}
		@include tablet {
			font-size: 80px;
		}
	}

	h2 {
		font-size: 16px;
		color: #fff;
		font-weight: 500;

		margin-left: 5vw;
		margin-top: 5px;

		@include mobile {
			font-size: 12px;
		}
		@include tablet {
			font-size: 14px;
		}
	}

	p {
		width: 600px;
		
		font-size: 24px;

		color: #fff;
		font-weight: 300;
		line-height: 1.25;

		margin-left: 5vw;
		margin-top: 30px;

		@include mobile {
			margin-top: 20px;
			width: 300px;
			font-size: 16px;
		}
		@include tablet {
			width: 500px;
			font-size: 20px;
		}
	}

	a {
		display: flex;

		justify-content: center;
		align-items: center;

		width: fit-content;
		height: fit-content;

		padding: 8px 24px;

		font-size: 20px;
		color: #fff;
		text-decoration: none;
		font-weight: 400;

		background: linear-gradient(90deg, #fff 50%, transparent 50%);
		background-size: 200% 100%;
		background-position: 100% 0;
		background-repeat: no-repeat;

		border: 1px solid #fff;
		border-radius: 9px;

		margin-left: 5vw;
		margin-top: 30px;

		transition: background-position 0.3s, color 0.3s;

		@include mobile {
			margin-top: 20px;
			font-size: 16px;
		}
		@include tablet {
			font-size: 16px;
		}
	}
	a:hover {
		background-position: 0 0;
		color: #000;
		cursor: pointer;
	}
}

.project:nth-child(2n + 1) {
	align-items: flex-end;

	h1 {
		float: right;
		text-align: right;
		margin-right: 5vw;
	}

	h2 {
		text-align: right;
		margin-right: 5vw;
	}

	p {
		text-align: right;
		margin-right: 5vw;
	}

	a {
		float: right;
		margin-right: 5vw;
	}
}

#education {
	position: relative;

	width: 100vw;
	height: 300vh;

	.container {
		top: 0;
		left: 0;

		position: fixed;
		opacity: 0;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100vw;
		height: 100vh;

		div {
			display: flex;
			flex-direction: column;
			align-items: center;

			margin: 25px;

			opacity: 0;
			
			h1 {
				font-size: 40px;
				color: #000;
				font-weight: 600;
				text-align: center;

				@include mobile {
					font-size: 25px;
				}
				@include tablet {
					font-size: 35px;
				}
			}
			h2 {
				font-size: 24px;
				color: #000;
				font-weight: 500;
				margin-bottom: 2px;

				@include mobile {
					font-size: 16px;
				}
				@include tablet {
					font-size: 20px;
				}
			}
		}
	}
}

#skills {
	position: relative;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	overflow: hidden;
	
	div {
		display: flex;
		flex-direction: row;

		flex-wrap: nowrap;
		width: 100vw;
		animation: move 10s infinite linear;

		span {
			font-size: 25vh;
			font-weight: 800;
			text-transform: uppercase;
	
			font-optical-sizing: auto;
			font-style: normal;

			text-wrap: nowrap;
			-webkit-text-stroke: 1px #000;
			-webkit-text-fill-color: transparent;
	
			margin-right: 15px;
			opacity: 0.4;

			transition: opacity 0.5s;
		}
		span:hover {
			-webkit-text-stroke: 1px #000;
			-webkit-text-fill-color: #000;
			opacity: 1;
		}
	}
}